# WordPress
wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/
.htaccess

# Theme specific
node_modules/
dist/
assets/css/dist/*
!assets/css/dist/main.css
.DS_Store
Thumbs.db
*.log
